<h1>Seja Bem-vindo!</h1>
<p><%= name_application %></p>
<p><strong>Data: </strong><%= data_br(Date.today) %></p>

<%= render "menu" %>

<p>Sessão de: <%= @meu_nome %></p>
<p>Ambiente de <%= ambiente_rails %></p>